body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

#top-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#dark-mode-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#dark-mode-toggle svg {
    width: 40px; /* Adjusted size */
    height: 40px; /* Adjusted size */
}

.logo {
    margin-top: 20px;
    width: 200px; /* Adjusted size */
    height: auto;
}

#login-container, #welcome-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    width: 300px; /* Adjusted size */
}

input[type="text"], input[type="password"], input[type="file"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#warning-container {
    margin-top: 50px;
    text-align: center;
    width: 80%;
}

#warning-container h1 {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.note {
    font-family: 'DG Bebo', sans-serif;
    font-size: 42px; /* Increased size to 3 times the original */
    color: #555;
    text-align: center;
    font-weight: bold;
    width: 100%;
    line-height: 1.5; /* Add line height for better readability */
}

.note .reihana {
    color: red;
    border: 1px solid black;
    padding: 2px;
    font-size: inherit; /* Ensure this scales with the parent font size */
}

body.dark-mode {
    background-color: #333;
    color: white;
}

body.dark-mode #login-container, 
body.dark-mode #welcome-container {
    background: #444;
    color: white;
}

body.dark-mode input[type="text"], 
body.dark-mode input[type="password"], 
body.dark-mode input[type="file"] {
    background: #555;
    color: white;
    border: 1px solid #666;
}

body.dark-mode button {
    background-color: #555;
}

body.dark-mode button:hover {
    background-color: #777;
}

@keyframes hammer-swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-20deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}

.hammer.animate-hammer {
    animation: hammer-swing 0.5s;
}
